.home {
  #page {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  header {
    margin: auto;
  }
  nav > ul {
    display: flex;
    flex-flow: row;
  }
  .social-menu ul { justify-content: center; }
  .main-menu ul { justify-content: space-around; }
}

