#page {
  position: relative;
  height: 100%;
  @include container();
  @if ($show-grid-backgrounds) {
    @include susy-grid-background;
  }
  @include at-breakpoint($wide-mobile) {
    @if ($show-grid-backgrounds) {
      @include susy-grid-background;
    }
  }
  @include at-breakpoint($tablet) {
    @if ($show-grid-backgrounds) {
      @include susy-grid-background;
    }
  }
  @include at-breakpoint($desktop) {
    @if ($show-grid-backgrounds) {
      @include susy-grid-background;
    }
  }
}

header {
  // margin: 0;
  // background: white;
  // border-radius: 0px 0 6px 6px;
  // border: 2px #F5F5F5 solid;
  @include at-breakpoint($desktop) {
    // position: fixed;
    // top: 0;
    // left: 0;
    // border: none;
  }
  .home & {
    // background: rgba(0, 0, 0, 0.6);
  }
}

.title {
  background-color: $white;
  padding: 0 5px;
  border-bottom: 4px solid #000;
}

h1.page-title {
  margin: 0;
  background-color: transparent;
  border-bottom: none;
  text-align: center;
  @include at-breakpoint($desktop) {
    text-align: left;
  }
  a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}

h2.page-title {
  color: $black;
  border-bottom: 4px solid $black;
  text-align: right;
  margin-top: 0;
  .home & {
    color: $white;
    border-bottom: 4px solid $white;
  }
}

aside {
  /*clear: left;
  position: relative;
  @include at-breakpoint($wide-mobile) {
    // @include span-columns(2,6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(2,10);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(2,12);
    margin-top: 150px;
    margin-left: 40px;
  }
  li {
    margin-bottom: 5px;
    display: block;
    text-align: center;
    @include at-breakpoint($tablet) {
      text-align: left;
    }
    a {
      display: inline-block;
      @include font-size(24,48);
      text-transform: uppercase;
      font-family: $header-font;
    }
    .sub-menu {
      margin-left: 20px;
      margin-top: 5px;
      .home & {
        color: $white;
      }
    }
  }*/
}

main.site-main {
  @include at-breakpoint($wide-mobile) {
    @include span-columns(4 omega, 6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(8 omega, 10);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(7, 12);
    // border: 2px solid #F5F5F5;
    padding: 1em;
    // border-radius: 4px;
  }
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Lora', serif;
  color: $black;
}

footer {
  width: 100%;
  float: left;
  border-top: 1px solid $white;
  @include at-breakpoint($tablet) {
    padding-top: 30px;
    margin-top: 50px;
    padding-left: 50px;
  }
  .home & {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  span, a, p {
    color: $black;
    text-transform: uppercase;
    font-family: $header-font;
    .home & {
      color: $white;
    }
  }
  a:hover {
    @extend .no-hover-effect;
  }
}

.copyright {
  width: 100%;
  float: left;
  @include at-breakpoint($desktop) {
    @include span-columns(8,12);
  }
  span {
    display: block;
    @include font-size(14,24);
    text-align: center;
  }
  .magalielinda {
    margin-top: 15px;
    a {
      color: #2098B7 !important;
    }
  }
}

/*.social-menu {
  text-align: center;
  @include at-breakpoint($wide-mobile) {
    // margin-top: 30px; // Temp fix for adminbar.
  }
  @include at-breakpoint($tablet) {
    // @include span-columns(3 omega, 10);
  }
  @include at-breakpoint($desktop) {
    // @include span-columns(2 omega,12);
    // margin-top: 50px; // Temp fix for adminbar.
  }

}*/

.social-menu ul li {
  a {
    @include font-size(0,0);
    color: $white;
    font-weight: normal;
    // display: inline-block;
    text-decoration: none;
    &:before {
      margin-right: 5px;
      @include font-size(30, 30);
    }
    &:hover {
      -webkit-transition: background, 1000ms ease;
      transition:         background, 1000ms ease;
      background: transparent;
    }
  }
  & + li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid $white;
  }
}

li.twitter  {
  a {
    @extend .icon-twitter;
    &:hover {
      color: $color-twitter;
    }
  }
}

li.facebook  {
  a {
    @extend .icon-facebook;
    &:hover {
      color: $color-facebook;
    }
  }
}

li.google  {
  a {
    @extend .icon-googleplus;
    &:hover {
      color: $color-google;
    }
  }
}
.edit-link {
  display: inline-block;
  .post-edit-link {
    &:visited {
    color: black;
    }
    @extend .no-hover-effect;
  }
  &:before {
    font-family: 'icomoon';
    display: inline-block;
    content: "\e601";
    margin-right: 10px;
    color: black;
  }
}
