#page {
  position: relative;
  height: 100%;
  .home & {
    display: flex;
    header {
      margin: auto;
    }
  }
}

header:not(.home) {
}

.title {
  background-color: $white;
  padding: 0 5px;
  border-bottom: 4px solid #000;
}

h1.page-title {
  margin: 0;
  background-color: transparent;
  border-bottom: none;
  text-align: center;
  a {
    // color: rgba(255, 255, 255, 1);
    text-decoration: none;
    @include font-size(22,22);
  }
}

h2.page-title,
h2.entry-title {
  color: $black;
  border-bottom: 1px solid $black;
  text-align: right;
  margin: 0;
  .home & {
    color: $white;
    border-bottom: 4px solid $white;
  }
}

nav > ul {
  display: flex;
  flex-flow: row;
  margin-top: 20px;
  text-align: center;
  li {
    display: inline-block;
  }
}

.social-menu ul { justify-content: center; }
.main-menu ul { justify-content: space-around; }

.social-menu ul li {
  a {
    @include font-size(0,0);
    font-weight: normal;
    text-decoration: none;
    .home & {
      color: $white;
    }
    &:before {
      margin-right: 5px;
      @include font-size(30, 30);
    }
    &:hover {
      -webkit-transition: background, 1000ms ease;
      transition:         background, 1000ms ease;
      background: transparent;
    }
  }
  & + li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid $white;
  }
}

li.twitter  {
  a {
    @extend .icon-twitter;
    &:hover {
      color: $color-twitter;
    }
  }
}

li.facebook  {
  a {
    @extend .icon-facebook;
    &:hover {
      color: $color-facebook;
    }
  }
}

li.google a {
  @extend .icon-googleplus;
  &:hover {
    color: $color-google;
  }
}

.main-menu li > a  {
  padding: 0.2em;
}

.edit-link {
  display: inline-block;
  .post-edit-link {
    &:visited {
    color: black;
    }
    @extend .no-hover-effect;
  }
  &:before {
    font-family: 'icomoon';
    display: inline-block;
    content: "\e601";
    margin-right: 10px;
    color: black;
  }
}

aside {
  /*clear: left;
  position: relative;
  @include at-breakpoint($wide-mobile) {
    // @include span-columns(2,6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(2,10);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(2,12);
    margin-top: 150px;
    margin-left: 40px;
  }
  li {
    margin-bottom: 5px;
    display: block;
    text-align: center;
    @include at-breakpoint($tablet) {
      text-align: left;
    }
    a {
      display: inline-block;
      @include font-size(24,48);
      text-transform: uppercase;
      font-family: $header-font;
    }
    .sub-menu {
      margin-left: 20px;
      margin-top: 5px;
      .home & {
        color: $white;
      }
    }
  }*/
}

main {
  body:not(.home) & {
    flex: 1;
    padding: 1em;
    max-width: 960px;
    min-height: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  color: $black;
}

.body-content,
.entry-content {
  padding: 1em;
  @include at-breakpoint( $desktop ) {
    padding: 4em;
  }
}

footer {
  width: 100%;
  float: left;
  border-top: 1px solid $black;
  padding: 1em;
  // @include at-breakpoint($tablet) {
  //   padding-top: 30px;
  //   margin-top: 50px;
  //   padding-left: 50px;
  // }
  .home & {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid $white;
  }
  span, a, p {
    color: $black;
    text-transform: uppercase;
    font-family: $header-font;
    .home & {
      color: $white;
    }
  }
  a:hover {
    @extend .no-hover-effect;
  }
}

.copyright {
  width: 100%;
  float: left;
  @include at-breakpoint($desktop) {
    @include span-columns(8,12);
  }
  span {
    display: block;
    @include font-size(14,24);
  }
  .magalielinda {
    margin-top: 15px;
    a {
      color: #2098B7 !important;
    }
  }
}
input, textarea {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  &:focus {
    border: 1px solid $grey;
    background: rgb(249, 249, 249);
  }
}

button, input[type="submit"] {
  background: black;
  color: white;
  text-transform: uppercase;
  font-family: $montserrat;
  &:hover {
    background-color: $grey;
    @extend .yeah-hover;
  }
}


